body {
  background-color: black;
}

.navbar {
  border-radius: 0px;
}

.btn {
  width: 100%;
  margin-top: 10px;
}

.container {
  background-color: #ecf0f1;
  border-radius: 5px;
  width: 60%;
  padding-bottom: 20px;
}

h4 {
  padding: 20px;
}

.well {
  text-align: center;
  cursor: pointer;
  margin-bottom: 20px;
  padding: 10px 0px 10px 0px;
}

.jumbotron {
  text-align: center;
  padding: 10px 0px 10px 0px;
}

#input {
  text-align: center;
}
