body {
  background-color: black;
}

h4 {
  padding: 20px;
}

h3 {
  font-size: 15px;
  display: inline;
}

.navbar {
  border-radius: 0px;
}

.container {
  background-color: #ecf0f1;
  border-radius: 5px;
  width: 60%;
  padding-bottom: 20px;
}

.well {
  text-align: center;
  cursor: pointer;
  margin-bottom: 20px;
  width: 100%;
  padding: 10px 0px 10px 0px;
}

.well:hover{
  background-color: #bdc3c7;
}

.jumbotron {
  text-align: center;
  padding: 10px 0px 10px 0px;
}

#addButton {
  width: 100%;
  margin-top: 10px;
}

#input {
  text-align: center;
}

#closeBtn {
  float:right;
  padding:3px;
  background-color: inherit;
  display: inline;
}

#closeBtn:focus {
  outline: none;
}
